# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Data
# Ignore real biosignal/raw data
data/raw/

# Keep CI test fixture folder
!data/test/
!data/test/**

# Ignore generated binary test files
data/test/*.bin

# ML artifacts
artifacts/
mlruns/
mlflow.db

# Reports
reports/

# Logs
logs/
*.log

# IDE
.vscode/

# Environment
.env